body {
    background-image: linear-gradient(black, black), url(/src/assets/img/PostEnsinoRealidade.jpg);
    background-size: cover;
    background-blend-mode: saturation;
    
}

img {
    width: 10vh;
}